<html>
	<head>
		<title>Add Fact</title>
		<link rel="stylesheet" type="text/css" href="/media/bootstrap.min.css"/>
	</head>
	<body>
<div class="navbar">
  <a class="navbar-brand" href="/">Augend</a>
  <ul class="nav navbar-nav">
    <li><a href="/tag/">Tags</a></li>
  </ul>
</div>

<div class="container">
<form action="." method="post">
	<fieldset>
		<legend>Add Fact</legend>
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" name="title" class="form-control" id="title" placeholder="Enter title">
    </div>
		<div class="form-group">
			<label for="details">Details</label>
			<input type="text" name="details" class="form-control" id="details" placeholder="Enter details">
    </div>
		<div class="form-group">
			<label for="source_name">Source Name</label>
			<input type="text" class="form-control" id="source_name" name="source_name"
						 placeholder="Enter source name">
    </div>
		<div class="form-group">
			<label for="source_url">Source URL</label>
			<input type="text" class="form-control" id="source_url"
						 name="source_url"
						 placeholder="Enter source URL">
    </div>
		<div class="form-group">
			<label for="tags">Tags</label>
			<input type="text" class="form-control" id="tags"
						 name="tags" placeholder="Tags">
    </div>

		<input type="submit" value="add fact" class="btn btn-default" />
	</fieldset>
</form>
</div>
	</body>
</html>
