{{define "title"}}Add Fact{{end}}

{{define "content"}}
<form action="." method="post">
	<fieldset>
		<legend>Add Fact</legend>

		<div class="row">
			<div class="col-lg-3">
			<input type="text" name="title" class="form-control input-small"
						 id="title" placeholder="Title">
			</div>
			<div class="col-lg-3">
			<input type="text" name="details" class="form-control  input-small"
						 id="details" placeholder="Details">
			</div>
			<div class="col-lg-2">
			<input type="text" class="form-control  input-small" id="source_name"
						 name="source_name" placeholder="Source Name">
			</div>
			<div class="col-lg-2">
			<input type="text" class="form-control  input-small" id="source_url"
						 name="source_url" placeholder="Source URL">
			</div>
			<div class="col-lg-2">
			<input type="text" class="form-control input-small" id="tags"
						 name="tags" placeholder="Tags">
			</div>
		</div>

		<input type="submit" value="add fact" class="btn btn-default" />
	</fieldset>
</form>
{{end}}
