<html><head><title>{{template "title" .}}</title></head>
<link rel="stylesheet" type="text/css" href="/media/bootstrap.min.css"/>
<body>
<div class="navbar">
  <a class="navbar-brand active" href="/">Augend</a>
  <ul class="nav navbar-nav">
    <li><a href="/tag/">Tags</a></li>

{{if .Username}}
    <li><a href="/add/">Add</a></li>
    <li><a href="/logout/">logout</a></li>
{{else}}
		<li><a href="/register/">register</a></li>
		<li><a href="/login/">login</a></li>
{{end}}

  </ul>
</div>

<div class="container">
{{template "content" .}}
</div>
</body>
