<html><head><title>Fact: {{.Fact.Title}}</title></head>
<link rel="stylesheet" type="text/css" href="/media/bootstrap.min.css"/>
<body>
<div class="navbar">
  <a class="navbar-brand" href="/">Augend</a>
  <ul class="nav navbar-nav">
    <li><a href="/tag/">Tags</a></li>
    <li><a href="/add/">Add</a></li>
  </ul>
</div>

<div class="container">
<h1>{{.Fact.Title}}</h1>
<p>{{.Fact.Details}}</p>
{{ if .Fact.HasSource }}
<div class="source"><i class="icon-bookmark"></i><b>Source</b>:
<a href="{{.Fact.SourceUrl}}">{{.Fact.SourceName}}</a></div>

{{end}}
<p>added {{.Fact.Added}}</p>

{{ if .Fact.HasTags }}
<div><b>Tags:</b>{{range .Fact.ListTags}}
<a href="{{.Url}}">{{.Name}}</a>
{{end}}</div>
{{end}}

</div>
</body></html>
