{{ define "title" }}Facts{{ end }}


{{ define "content" }}


<ul class="pagination">
{{if .Page.HasPrev}}
  <li><a href="/?page={{.Page.PrevPage}}">&laquo;</a></li>
{{end}}
  <li class="active"><span>{{.Page.PageNumber}}</span></li>
{{if .Page.HasNext}}
  <li><a href="/?page={{.Page.NextPage}}">&raquo;</a></li>
{{end}}
</ul>


{{range .Facts}}

<div class="row fact-row" id="fact-{{.Key}}">
	<div class="col-lg-4"><b>{{.Title}}</b></div>

	<div class="col-lg-8">
		{{ if .Details }}
		<div class="span6 details"><p>{{.Details}}</p></div>
		{{ end }}

		{{ if .HasSource }}
		<div class="source">
			<i class="icon-bookmark"></i><b>Source</b>:
			<a href="{{.SourceUrl}}">{{.SourceName}}</a>
		</div>
		{{ end }}

		{{if .HasTags }}
		<div>
			<b>Tags:</b>
			{{range .ListTags}}
			<a href="{{.Url}}">{{.Name}}</a>
			{{end}}
		</div>
		{{end}}

		<div class="added">
			<span class="glyphicon glyphicon-chevron-right"></span>
			added <a href="{{.Url}}">{{.Added}}</a> by {{.GetUser.Username}}
		</div>
	</div>
</div>
{{end}}

<ul class="pagination">
{{if .Page.HasPrev}}
  <li><a href="/?page={{.Page.PrevPage}}">&laquo;</a></li>
{{end}}
  <li class="active"><span>{{.Page.PageNumber}}</span></li>
{{if .Page.HasNext}}
  <li><a href="/?page={{.Page.NextPage}}">&raquo;</a></li>
{{end}}
</ul>

{{end}}

