<html><head><title>Login</title></head>
<link rel="stylesheet" type="text/css" href="/media/bootstrap.min.css"/>
<body>
<div class="navbar">
  <a class="navbar-brand active" href="/">Augend</a>
  <ul class="nav navbar-nav">
    <li><a href="/tag/">Tags</a></li>
    <li><a href="/add/">Add</a></li>
  </ul>
</div>

<div class="container">

<form action="." method="post">
	<fieldset>
		<legend>Register</legend>
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" name="username" class="form-control" id="username" placeholder="Enter username">
    </div>
		<div class="form-group">
			<label for="details">Password</label>
			<input type="password" name="password" class="form-control" id="password" placeholder="Enter password">
    </div>
		<input type="submit" value="login" class="btn btn-default" />
	</fieldset>
</form>

</div>
</body>
</html>
