{{define "title"}}Tag: {{.Tag.Name}}{{end}}
{{define "content"}}
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
	<li><a href="/tag/">Tags</a></li>
  <li class="active">{{.Tag.Name}}</li>
</ul>

{{range .Tag.ListFacts}}
<div class="fact row" id="fact-{{.Key}}">
  <div class="span6"><h2>{{.Title}}</h2></div>
{{ if .Details }}
  <div class="span6 details"><p>{{.RenderDetails}}</p></div>
{{ end }}
{{ if .HasSource }}
  <div class="source"><i class="icon-bookmark"></i><b>Source</b>:
<a href="{{.SourceUrl}}">{{.SourceName}}</a></div>
{{ end }}

<div class="added"><i class="icon-chevron-right">
</i>added <a href="{{.Url}}">{{.Added}}</a> by {{.GetUser.Username}}</div>
</div>
{{end}}
{{end}}
