{{define "title"}}Tag: {{.Tag.Name}}{{end}}
{{define "content"}}
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
	<li><a href="/tag/">Tags</a></li>
  <li class="active">{{.Tag.Name}}</li>
</ul>

{{range .Facts}}
<div class="fact row" id="fact-{{.UUID}}">
  <div class="span6"><h2>{{.Title}}</h2></div>
{{ if .Details }}
  <div class="span6 details"><p>{{.RenderDetails}}</p></div>
{{ end }}

		{{ if .HasSourceName }}
		<div class="source">
			<b>Source</b>:
			{{ if .HasSourceUrl }}
			<a href="{{.SourceUrl}}">{{end}}{{.SourceName}}{{ if .HasSourceUrl }}</a>{{end}}
		</div>
		{{ else }}
		{{ if .HasSourceUrl }}
		<div class="source">
			<b>Source</b>:
			<a href="{{.SourceUrl}}">{{.SourceUrl}}</a>
		</div>
		{{ end }}
		{{ end }}

<div class="added"><i class="icon-chevron-right">
</i>added <a href="{{.Url}}">{{.RenderAdded}}</a> by {{.User.Username}}</div>
</div>
{{end}}
{{end}}
